{% extends 'cargo/layout.html' %}
{% load static %}

{% block title %} Sending through cargo route runner {% endblock %}

{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Send your shipment</h1>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Sender's Form</h6>
                                </div>
                                <div class="card-body">
                                    <p>Sender's Form is for those who want's to ship and item!
                                        price for shipping will be emailed to you  after the reciever's form is submitted
                                    </p>
                                    <!-- Circle Buttons (Default) -->

                                    {% if submitted %}
                                    <h3 class="btn btn-success"> Form was Successfully submiited </h3>
                                    <p> Our team will contact you shortly</p>
                                    <p><b>NOTE :</h3> Check your email and spam folder</h3> 
                                    
                                   {% else %}
                
                                    <form method='post' action="{% url 'sent_shipment' %}" >
                                        {% csrf_token %}                                    
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-default-fullname">Full Name</label>
                                          <input type="text" class="form-control" id="basic-default-fullname" placeholder="John Doe" name="name" />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="country">Country</label>
                                            <select id="country" name="country" class="select2 form-select form-control">
                                              <option value="">Select</option>
                                              <option value="Australia">Australia</option>
                                              <option value="Bangladesh">Bangladesh</option>
                                              <option value="Belarus">Belarus</option>
                                              <option value="Brazil">Brazil</option>
                                              <option value="Canada">Canada</option>
                                              <option value="China">China</option>
                                              <option value="France">France</option>
                                              <option value="Germany">Germany</option>
                                              <option value="India">India</option>
                                              <option value="Indonesia">Indonesia</option>
                                              <option value="Israel">Israel</option>
                                              <option value="Italy">Italy</option>
                                              <option value="Japan">Japan</option>
                                              <option value="Korea">Korea, Republic of</option>
                                              <option value="Mexico">Mexico</option>
                                              <option value="Philippines">Philippines</option>
                                              <option value="Russia">Russian Federation</option>
                                              <option value="South Africa">South Africa</option>
                                              <option value="Thailand">Thailand</option>
                                              <option value="Turkey">Turkey</option>
                                              <option value="Ukraine">Ukraine</option>
                                              <option value="United Arab Emirates">United Arab Emirates</option>
                                              <option value="United Kingdom">United Kingdom</option>
                                              <option value="United States">United States</option>
                                            </select>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-default-City">City</label>
                                          <input type="text" name="city" class="form-control" id="basic-default-City" placeholder="Akron, Ohio" />
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-default-email">Email</label>
                                          <div class="input-group input-group-merge">
                                            <input
                                              type="text"
                                              name="email"
                                              id="basic-default-email"
                                              class="form-control"
                                              placeholder="john.doe@example.com"
                                              aria-label="john.doe"
                                              aria-describedby="basic-default-email2"
                                            />
                                            
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-default-phone">Phone No</label>
                                          <input type="text" name="phone" id="basic-default-phone" class="form-control phone-mask" placeholder="658 799 8941" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </form>  
                                    
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Receiver's details</h6>
                                </div>
                                <div class="card-body">
                                    <p>This Form is for whom the delivery is intended for!
                                        price for shipping will be emailed to you  after the reciever's form is submitted</p>
                                    <!-- Circle Buttons (Default) -->
                                    
                                    {% if submitted2 %}
                                    <h3 class="btn btn-success"> Form was Successfully submiited </h3>
                                    <p> Our team will contact you shortly</p>
                                    <p><b>NOTE :</h3> Check your email and spam folder</h3> 
                                    
                                   {% else %}
                
                
                                    <form method="post" action="{% url 'receiver_form' %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name = 'name'
                                              class="form-control"
                                              id="basic-icon-default-fullname"
                                              placeholder="John Doe"
                                              aria-label="John Doe"
                                              aria-describedby="basic-icon-default-fullname2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <div class="mb-3 col-md-6">
                                            <label class="form-label" for="country">Country</label>
                                            <select id="country" name = 'country'  class="select2 form-select form-control">
                                              <option value="">Select</option>
                                              <option value="Australia">Australia</option>
                                              <option value="Bangladesh">Bangladesh</option>
                                              <option value="Belarus">Belarus</option>
                                              <option value="Brazil">Brazil</option>
                                              <option value="Canada">Canada</option>
                                              <option value="China">China</option>
                                              <option value="France">France</option>
                                              <option value="Germany">Germany</option>
                                              <option value="India">India</option>
                                              <option value="Indonesia">Indonesia</option>
                                              <option value="Israel">Israel</option>
                                              <option value="Italy">Italy</option>
                                              <option value="Japan">Japan</option>
                                              <option value="Korea">Korea, Republic of</option>
                                              <option value="Mexico">Mexico</option>
                                              <option value="Philippines">Philippines</option>
                                              <option value="Russia">Russian Federation</option>
                                              <option value="South Africa">South Africa</option>
                                              <option value="Thailand">Thailand</option>
                                              <option value="Turkey">Turkey</option>
                                              <option value="Ukraine">Ukraine</option>
                                              <option value="United Arab Emirates">United Arab Emirates</option>
                                              <option value="United Kingdom">United Kingdom</option>
                                              <option value="United States">United States</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-City">City</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name = 'city'
                                              id="basic-icon-default-City"
                                              class="form-control"
                                              placeholder="ACME Inc."
                                              aria-label="ACME Inc."
                                              aria-describedby="basic-icon-default-company2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-email">Email</label>
                                          <div class="input-group input-group-merge">
                                
                                            <input
                                              type="text"
                                              name = 'email'
                                              id="basic-icon-default-email"
                                              class="form-control"
                                              placeholder="john.doe"
                                              aria-label="john.doe"
                                              aria-describedby="basic-icon-default-email2"
                                            />
                                            
                                          </div>
                                          <div class="form-text">You can use letters, numbers & periods</div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-phone">Phone No</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name = 'phone'
                                              id="basic-icon-default-phone"
                                              class="form-control phone-mask"
                                              placeholder="658 799 8941"
                                              aria-label="658 799 8941"
                                              aria-describedby="basic-icon-default-phone2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-message">Message</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <textarea
                                              id="basic-icon-default-message"
                                              class="form-control"
                                              placeholder="comment"
                                              aria-describedby="basic-icon-default-message2"
                                              name="message"
                                            ></textarea>
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-weight">Weight</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name="weight"
                                              id="basic-icon-default-weight"
                                              class="form-control"
                                              placeholder="weight (kg)"
                                              aria-label="ACME Inc."
                                              aria-describedby="basic-icon-default-company2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-Length">Length</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name="length"
                                              id="basic-icon-default-Length"
                                              class="form-control"
                                              placeholder="Length (cm)"
                                              aria-label="ACME Inc."
                                              aria-describedby="basic-icon-default-company2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-width">width</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name="width"
                                              id="basic-icon-default-width"
                                              class="form-control"
                                              placeholder="width (cm)"
                                              aria-label="ACME Inc."
                                              aria-describedby="basic-icon-default-company2"
                                            />
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                          <label class="form-label" for="basic-icon-default-Height">Height</label>
                                          <div class="input-group input-group-merge">
                                            
                                            <input
                                              type="text"
                                              name="height"
                                              id="basic-icon-default-company"
                                              class="form-control"
                                              placeholder="Height"
                                              aria-label="ACME Inc."
                                              aria-describedby="basic-icon-default-company2"
                                            />
                                          </div>
                                        </div>
                                        <div style="color: blue">
                                          Common Shipping Sizes<br />
                                          Not sure about the sizes?, Select one of these presets to add your shipping dimensions.<br />
                              
                                          A4 Envelope = 32 x 24 x 1 cm <br />
                              
                                          One or two books = 23 x 14 x 4 cm <br />
                              
                                          Shoe box = 35 x 20 x 15 cm <br />
                              
                                          Moving box = 75 x 35 x 35 cm <br />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                      </form>   
                                      {% endif %}                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

       {% endblock %}