{% extends 'cargo/layout.html' %}
{% load static %}

{% block title %} Information about your cargo route runner {% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Sending Tables</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Country</th>
                                            <th>City</th>
                                            <th>phone</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Country</th>
                                            <th>City</th>
                                            <th>phone</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for sending in sendings %}

                                        {% if sending.user == request.user %}
                                        <tr>                                      
                                            <td>{{ sending.name }}</td>
                                            <td>{{ sending.country }}</td>
                                            <td>{{ sending.city }}</td>
                                            <td>{{ sending.phone }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Receiving Tables</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Country</th>
                                            <th>City</th>
                                            <th>phone</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Country</th>
                                            <th>City</th>
                                            <th>phone</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for receiving in receivings %}
                                
                                        {% if receiving.user == request.user %}
                                        <tr>
                                      
                                            <td>{{ receiving.name }}</td>
                                            <td>{{ receiving.country }}</td>
                                            <td>{{ receiving.city }}</td>
                                            <td>{{ receiving.phone }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}


